In [2]:
#program to print"Hello world"
print("Hello world")

Hello world

In [3]:
#types expressions and variables string operations
a=10;
print(type(a))

<class 'int'>

In [4]:
b=10.2;
print(type(b))

<class 'float'>

In [5]:
a="ABC";
print(type(a))

<class 'str'>

In [8]:
a=True;
print(type(a))

<class 'bool'>

In [11]:
#string operations
#printing a string
str="Hello v"
print(str)

Hello v

In [12]:
#string slicing
str="Hello"
print(str)
print(str[0])
print(str[0:3])
print(str[0:])

Hello
H
Hel
Hello

In [2]:
#string concatenation
a="Hello"
b="world"
print("a+b=",a+b)
print("a*3=",a*3)

a+b= Helloworld
a*3= HelloHelloHello

In [22]:
#membership function
a="Hello"
"b" in a

False

In [23]:
"o" in a

True

In [24]:
#capitalize() (string starting letter becomes capital)
a="Hello"
a.capitalize()

'Hello'

In [25]:
#case fold() (all letters converted to small)
a="HELLO"
a.casefold()

'hello'

In [26]:
#count() (gives the count of given substring)
a="Data Science"
a.count('e')

2

In [28]:
#index() (gives the index of a given substring)
a="Data Science"
a.index("a")

1

In [32]:
#isalpha() (gives true if the given string isalpha)
a="DataScience"
a.isalpha()

True

In [33]:
#join() (can join two strings)
a="abc"
b="cde"
a.join(b)

'cabcdabce'

In [34]:
#partition() (it can divide the given string into 3 parts)
a="Data Science"
a.partition("a")

('D', 'a', 'ta Science')

In [41]:
#find() (gives the index of the given substring)
a="Data Science"
a.find('t')

2

In [42]:
#replace() (replace one value with another)
a="Bata science"
a.replace("B","D")

'Data science'

In [65]:
#python datastructures:lists and tuples sets,and dictionaries
#list operations
#printing the list
L=(["ABC","DEF"])
L

['ABC', 'DEF']

In [66]:
L=[1,2,3,4]
L

[1, 2, 3, 4]

In [67]:
#Append() (append the required list at the end)
L=[1,2,3]
L.append([9,7])
L

[1, 2, 3, [9, 7]]

In [68]:
#insert() (To insert the input at the given index)
L=[1,2,3,4]
L.insert(0,2)
L

[2, 1, 2, 3, 4]

In [101]:
#Accessing the list elements
l=[1,2,3,4]
l[0]

1

In [99]:
l[-1]

4

In [105]:
#extend()(to extend the list)
l=[1,2,3,4]
l.extend([9,8])
l

[1, 2, 3, 4, 9, 8]

In [104]:
#deleting the element del()
l=[1,2,3,4]
del(l[0])
l

[2, 3, 4]

In [106]:
#pop() (delete the last element)
l=[1,2,3,4]
l.pop()
l

[1, 2, 3]

In [107]:
#reverse() (to reverse the list)
l=[1,2,3,4]
l.reverse()
l

[4, 3, 2, 1]

In [109]:
#add() (to add to lists)
l1=[1,2,3]
l2=["a","b"]
(l1+l2)

[1, 2, 3, 'a', 'b']

In [110]:
#sort() (to sort the elements in ascending order)
l=[1,8,3,4]
l.sort(reverse=True)
l

[8, 4, 3, 1]

In [111]:
#len() (to get the length of list)
l=[1,2,3,4]
len(l)

4

In [116]:
#max() ( to get the maximum value)
l=[1,2,3,4]
max(l)

4

In [117]:
min(l)

1

In [118]:
#tuple operations
#printing tuple
t=(1,2,3,4)
t

(1, 2, 3, 4)

In [119]:
#length() (to get length of the tuple)
t=(1,2,3,4)
len(t)

4

In [120]:
#count() (to get the count of the given element)
t=(1,2,3,4,3,3)
t.count(3)

3

In [121]:
#index() (to get index of the given element)
t=(1,2,3,4)
t.index(2)

1

In [122]:
#set operations
#creating set
s={1,2,3}
s

{1, 2, 3}

In [123]:
#union() (to combine two sets)
s1={1,2,3}
s2={4,5,6}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [124]:
#intersection() ( to get the common elements in 2 sets)
s1={1,2,3}
s2={2,4,5}
s1.intersection(s2)

{2}

In [125]:
#set difference() (to get the different element)
s1={1,2,3}
s2={2,3,4}
s1.difference(s2)

{1}

In [126]:
#update and delete (to delete & update elements)
s={0,1,2,3}
s.add(4)
s

{0, 1, 2, 3, 4}

In [127]:
#clear() (to clear the set)
s={0,1,2}
s.clear()
s

set()

In [132]:
#pop() (to pop (del) 1st element)
s={0,1,2}
s.pop()

0

In [134]:
#discard() (to delete the given)
s={0,1,2}
s.discard(0)
s

{1, 2}

In [137]:
#copy() (to copy the set to another set)
s1={0,1,2}
s1.copy()

{0, 1, 2}

In [140]:
#set difference update() (difference updated)
s={1,2,3}
s.difference_update({3})
s

{1, 2}

In [159]:
#intersection update()
s1={1,2,3}
s1.difference_update()
s1.intersection_update({8},{1})

In [170]:
#disjoint()
s1={1,2,3}
s2={1,4,8,9}
s1.isdisjoint(s2)

False

In [168]:
#is superset()
s1={1,2,3}
s2={1,4,8,9}
s1.issuperset(s2)

False

In [171]:
s1.issubset(s2)

False

In [172]:
#dictionaries operations
#creating dictionary
d={"name":"priya","rno":126}
d

{'name': 'priya', 'rno': 126}

In [183]:
d["name"]="ravali"
d

{'name': 'ravali', 'rno': 126}

In [6]:
#program to find greatest number among 3 numbers using if condition
a=int(input("enter the number1:"))
b=int(input("enter the number2:"))
c=int(input("enter the number3:"))
if a>b and a>c:
    print("a is greatest number")
if b>a and b>c:
        print("b is greatest number")
if c>a and c>b:
        print("c is greatest number")

enter the number1:3
enter the number2:4
enter the number3:5
c is greatest number

In [8]:
a=int(input("enter the number rather than 0:"))
if a>0:
    print("given number is positive")
else:
    print("given number is negative")

enter the number rather than 0:4
given number is positive

In [11]:
n=int(input("enter the number:"))
for i in range(1,n,1):
    print(i)

enter the number:4
1
2
3

In [12]:
#reverse the numbers
n=int(input("enter the number:"))
for i in range(n,0,-1):
    print(i)

enter the number:4
4
3
2
1

In [13]:
n=int(input("enter the number:"))
f=1
for i in range(1,n+1):
    f=f*i
print(f)

enter the number:4
24

In [14]:
n=int(input("enter the number:"))
i=0
while(i<=n):
    print(i)
    i=i+1

enter the number:4
0
1
2
3
4

In [16]:
def display():
    print("hello world")
display()

hello world

In [18]:
n=int(input("enter the number"))
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    print(f)
fact(n)

enter the number4
24

In [23]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
n=int(input("enter the number"))
y=fact(n)
print(y)

enter the number4
24

In [25]:
n=int(input("enter the number"))
x=int(input("enter the number"))
def power(x,n):
    if n==0:
        return 1
    else:
        return(x*pow(x,n-1))
print(power(x,n))

enter the number3
enter the number2
8