In [3]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier as KNN
model=KNN(n_neighbors=3)

In [4]:
df=pd.read_csv("train_LZV4RXX.csv")

In [5]:
df

,loan_id,age,education,proof_submitted,loan_amount,asset_cost,no_of_loans,no_of_curr_loans,last_delinq_none,loan_default
0,1,27,1.0,Aadhar,504264,820920,2,2,0,0
1,2,48,1.0,Aadhar,728556,831444,6,2,0,0
2,3,30,2.0,VoterID,642936,826092,0,0,0,1
3,4,28,1.0,Aadhar,746556,930924,0,0,0,0
4,5,29,1.0,Aadhar,1139880,1902000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
6995,6996,45,2.0,Aadhar,930948,1258344,0,0,0,1
6996,6997,41,2.0,Aadhar,681108,791040,4,4,0,1
6997,6998,47,2.0,Aadhar,627636,720336,35,11,0,1
6998,6999,39,1.0,Aadhar,654708,793860,0,0,0,1
6999,7000,31,1.0,Aadhar,705108,900660,0,0,0,0

In [13]:
x1=df["loan_amount"].values.reshape(-1,1)
y1=df["loan_default"].values

In [14]:
model.fit(x1,y1)
ypred1=model.predict(x1)
ypred1

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [6]:
#a=test["loan_amount"].values.reshape(-1,1)
#ypred2=model.predict(a)
#ypred2

In [7]:
#b=pd.DataFrame(ypred2)
#type(b)
#b

In [8]:
#c=test["loan_id"]

In [9]:
#result=pd.concat([c,b],axis=1,join="inner")

In [10]:
#result

In [11]:
#result.rename(columns={0:"predicted values"},inplace=True)

In [12]:
#result.to_csv("C:\\Users\\PRIYANKA\\Desktop\\submission1.csv")